// *************************************
//
//   Tools - Background Color
//
// *************************************

.sb-bc-plum {
  background-color: $plum !important;
}

.sb-bc-plum-t1 {
  background-color: $plum-t1 !important;
}

.sb-bc-porcelain {
  background-color: $porcelain !important;
}

.sb-bc-slate {
  background-color: $slate !important;
}

.sb-bc-white {
  background-color: $white !important;
}
