// *************************************
//
//   Tools - Background Color
//
// *************************************

.sb-bc-plum {
  background-color: $plum;
}

.sb-bc-plum-t1 {
  background-color: $plum-t1;
}

.sb-bc-porcelain {
  background-color: $porcelain;
}

.sb-bc-slate {
  background-color: $slate;
}

.sb-bc-white {
  background-color: $white;
}
