// *************************************
//
//   Tools - Border
//
// *************************************

// -------------------------------------
//   Border
// -------------------------------------

// ----- All ----- //

@if tool-include('border-all'){

  .sb-bd {
    border: $border !important;
  }

}

// ----- Bottom ----- //

@if tool-include('border-bottom'){

  .sb-bdb {
    border-bottom: $border !important;
  }

}

// ----- Top ----- //

@if tool-include('border-top'){

  .sb-bdt {
    border-top: $border !important;
  }

}

// -------------------------------------
//   Radius
// -------------------------------------

@if tool-include('border-radius'){

  .sb-bdra-0 {
    border-radius: 0 !important;
  }

  .sb-bdra-1 {
    border-radius: $borderRadius !important;
  }

  .sb-bdra-50p {
    border-radius: 50% !important;
  }

}
