// *************************************
//
//   Tools - Border
//
// *************************************

// -------------------------------------
//   Radius
// -------------------------------------

.sb-bdra-0 {
  border-radius: 0;
}

.sb-bdra-1 {
  border-radius: $borderRadius;
}

.sb-bdra-50p {
  border-radius: 50%;
}
