// *************************************
//
//   Tools - Color
//
// *************************************

// -------------------------------------
//   Palette
// -------------------------------------

@if $tools-color {

  @include tool-generate-color-classes('color', 'tc');

}

// -------------------------------------
//   Variables
// -------------------------------------

@if $tools-color {

  .sb-c-slate {
    color: $slate !important;
  }

  .sb-c-sun {
    color: $sun !important;
  }

  .sb-c-white {
    color: $white !important;
  }

}
