// *************************************
//
//   Tools - Color
//
// *************************************

.sb-tc-plum {
  color: $plum !important;
}

.sb-tc-plum-t1 {
  color: $plum-t1 !important;
}

.sb-tc-slate {
  color: $slate !important;
}

.sb-tc-white {
  color: $white !important;
}
