// *************************************
//
//   Display
//
// *************************************

.sb-db {
  display: block;
}

.sb-di {
  display: inline;
}

.sb-df {
  display: flex;
}

.sb-dib {
  display: inline-block;
}

.sb-dif {
  display: inline-flex;
}

.sb-dn {
  display: none;
}
