// *************************************
//
//   Tools - Display
//
// *************************************

@if tool-include('display'){

  .sb-db {
    display: block !important;
  }

  .sb-di {
    display: inline !important;
  }

  .sb-df {
    display: flex !important;
  }

  .sb-dib {
    display: inline-block !important;
  }

  .sb-dif {
    display: inline-flex !important;
  }

  .sb-dn {
    display: none !important;
  }

}
