// *************************************
//
//   Tools - Font
//
// *************************************

// -------------------------------------
//   Family
// -------------------------------------

@if $tools-font-family {

  .sb-ff-base {
    font-family: $fontFamily !important;
  }

  .sb-ff-heading {
    font-family: $fontFamily-heading !important;
  }

}

// -------------------------------------
//   Size
// -------------------------------------

@if $tools-font-family {

  .sb-fs-xs {
    font-size: $fontSize-xs !important;
  }

  .sb-fs-s {
    font-size: $fontSize-s !important;
  }

  .sb-fs-m {
    font-size: $fontSize-s !important;
  }

  .sb-fs-l {
    font-size: $fontSize-l !important;
  }

  .sb-fs-xl {
    font-size: $fontSize-xl !important;
  }

}

// -------------------------------------
//   Style
// -------------------------------------

@if $tools-font-style {

  .sb-fsi {
    font-style: italic !important;
  }

}

// -------------------------------------
//   Weight
// -------------------------------------

@if $tools-font-weight {

  .sb-fw-400 {
    font-weight: 400 !important;
  }

  .sb-fw-700 {
    font-weight: 700 !important;
  }

}
