// *************************************
//
//   Tools - Margin
//
// *************************************

// ----- All ----- //

.sb-ma-0 {
  margin: 0;
}

.sb-ma-025 {
  margin: $space-025;
}

.sb-ma-05 {
  margin: $space-05;
}

.sb-ma-1 {
  margin: $space;
}

.sb-ma-2 {
  margin: $space-2;
}

.sb-ma-4 {
  margin: $space-4;
}

// ----- Bottom ----- //

.sb-mb-0 {
  margin-bottom: 0;
}

.sb-mb-025 {
  margin-bottom: $space-025;
}

.sb-mb-05 {
  margin-bottom: $space-05;
}

.sb-mb-1 {
  margin-bottom: $space;
}

.sb-mb-2 {
  margin-bottom: $space-2;
}

.sb-mb-4 {
  margin-bottom: $space-4;
}

// ----- Horizontal ----- //

.sb-mhc {
  margin-left: auto;
  margin-right: auto;
}

// ----- Left ----- //

.sb-ml-0 {
  margin-left: 0;
}

.sb-ml-025 {
  margin-left: $space-025;
}

.sb-ml-05 {
  margin-left: $space-05;
}

.sb-ml-1 {
  margin-left: $space;
}

.sb-ml-2 {
  margin-left: $space-2;
}

.sb-ml-4 {
  margin-left: $space-4;
}

// ----- Right ----- //

.sb-mr-0 {
  margin-right: 0;
}

.sb-mr-025 {
  margin-right: $space-025;
}

.sb-mr-05 {
  margin-right: $space-05;
}

.sb-mr-1 {
  margin-right: $space;
}

.sb-mr-2 {
  margin-right: $space-2;
}

.sb-mr-4 {
  margin-right: $space-4;
}

// ----- Top ----- //

.sb-mt-0 {
  margin-top: 0;
}

.sb-mt-025 {
  margin-top: $space-025;
}

.sb-mt-05 {
  margin-top: $space-05;
}

.sb-mt-1 {
  margin-top: $space;
}

.sb-mt-2 {
  margin-top: $space-2;
}

.sb-mt-4 {
  margin-top: $space-4;
}
