// *************************************
//
//   Tools - Margin
//
// *************************************

// ----- All ----- //

.sb-ma-0 {
  margin: 0 !important;
}

.sb-ma-025 {
  margin: $space-025 !important;
}

.sb-ma-05 {
  margin: $space-05 !important;
}

.sb-ma-1 {
  margin: $space !important;
}

.sb-ma-2 {
  margin: $space-2 !important;
}

.sb-ma-4 {
  margin: $space-4 !important;
}

// ----- Bottom ----- //

.sb-mb-0 {
  margin-bottom: 0 !important;
}

.sb-mb-025 {
  margin-bottom: $space-025 !important;
}

.sb-mb-05 {
  margin-bottom: $space-05 !important;
}

.sb-mb-1 {
  margin-bottom: $space !important;
}

.sb-mb-2 {
  margin-bottom: $space-2 !important;
}

.sb-mb-4 {
  margin-bottom: $space-4 !important;
}

// ----- Horizontal ----- //

.sb-mhc {
  margin-left: auto !important;
  margin-right: auto !important;
}

// ----- Left ----- //

.sb-ml-0 {
  margin-left: 0 !important;
}

.sb-ml-025 {
  margin-left: $space-025 !important;
}

.sb-ml-05 {
  margin-left: $space-05 !important;
}

.sb-ml-1 {
  margin-left: $space !important;
}

.sb-ml-2 {
  margin-left: $space-2 !important;
}

.sb-ml-4 {
  margin-left: $space-4 !important;
}

// ----- Right ----- //

.sb-mr-0 {
  margin-right: 0 !important;
}

.sb-mr-025 {
  margin-right: $space-025 !important;
}

.sb-mr-05 {
  margin-right: $space-05 !important;
}

.sb-mr-1 {
  margin-right: $space !important;
}

.sb-mr-2 {
  margin-right: $space-2 !important;
}

.sb-mr-4 {
  margin-right: $space-4 !important;
}

// ----- Top ----- //

.sb-mt-0 {
  margin-top: 0 !important;
}

.sb-mt-025 {
  margin-top: $space-025 !important;
}

.sb-mt-05 {
  margin-top: $space-05 !important;
}

.sb-mt-1 {
  margin-top: $space !important;
}

.sb-mt-2 {
  margin-top: $space-2 !important;
}

.sb-mt-4 {
  margin-top: $space-4 !important;
}
