// *************************************
//
//   Tools - Opacity
//
// *************************************

@if $tools-opacity {

  .sb-o-1 {
    opacity: 1 !important;
  }

  .sb-o-075 {
    opacity: 0.75 !important;
  }

  .sb-o-05 {
    opacity: 0.5 !important;
  }

  .sb-o-025 {
    opacity: 0.25 !important;
  }

  .sb-o-0 {
    opacity: 0 !important;
  }

}
