// *************************************
//
//   Tools - Padding
//
// *************************************

// ----- All ----- //

.sb-pa-0 {
  padding: 0 !important;
}

.sb-pa-025 {
  padding: $space-025 !important;
}

.sb-pa-05 {
  padding: $space-05 !important;
}

.sb-pa-1 {
  padding: $space !important;
}

.sb-pa-2 {
  padding: $space-2 !important;
}

.sb-pa-4 {
  padding: $space-4 !important;
}

// ----- Bottom ----- //

.sb-pb-0 {
  padding-bottom: 0 !important;
}

.sb-pb-025 {
  padding-bottom: $space-025 !important;
}

.sb-pb-05 {
  padding-bottom: $space-05 !important;
}

.sb-pb-1 {
  padding-bottom: $space !important;
}

.sb-pb-2 {
  padding-bottom: $space-2 !important;
}

.sb-pb-4 {
  padding-bottom: $space-4 !important;
}

// ----- Left ----- //

.sb-pl-0 {
  padding-left: 0 !important;
}

.sb-pl-025 {
  padding-left: $space-025 !important;
}

.sb-pl-05 {
  padding-left: $space-05 !important;
}

.sb-pl-1 {
  padding-left: $space !important;
}

.sb-pl-2 {
  padding-left: $space-2 !important;
}

.sb-pl-4 {
  padding-left: $space-4 !important;
}

// ----- Right ----- //

.sb-pr-0 {
  padding-right: 0 !important;
}

.sb-pr-025 {
  padding-right: $space-025 !important;
}

.sb-pr-05 {
  padding-right: $space-05 !important;
}

.sb-pr-1 {
  padding-right: $space !important;
}

.sb-pr-2 {
  padding-right: $space-2 !important;
}

.sb-pr-4 {
  padding-right: $space-4 !important;
}

// ----- Top ----- //

.sb-pt-0 {
  padding-top: 0 !important;
}

.sb-pt-025 {
  padding-top: $space-025 !important;
}

.sb-pt-05 {
  padding-top: $space-05 !important;
}

.sb-pt-1 {
  padding-top: $space !important;
}

.sb-pt-2 {
  padding-top: $space-2 !important;
}

.sb-pt-4 {
  padding-top: $space-4 !important;
}
