// *************************************
//
//   Tools - Position
//
// *************************************

@if $tools-position {

  .sb-poa {
    position: absolute !important;
  }

  .sb-pof {
    position: fixed !important;
  }

  .sb-por {
    position: relative !important;
  }

  .sb-pos {
    position: static !important;
  }

}
