// *************************************
//
//   Tools - Position
//
// *************************************

.sb-poa {
  position: absolute;
}

.sb-pof {
  position: fixed;
}

.sb-por {
  position: relative;
}

.sb-pos {
  position: static;
}
