// *************************************
//
//   Tools - Text
//
// *************************************

// -------------------------------------
//   Align
// -------------------------------------

@if $tools-text-align {

  .sb-tac {
    text-align: center !important;
  }

  .sb-tal {
    text-align: left !important;
  }

  .sb-tar {
    text-align: right !important;
  }

}

// -------------------------------------
//   Transform
// -------------------------------------

@if $tools-text-transform {

  .sb-ttu {
    text-transform: uppercase !important;
  }

  .sb-ttn {
    text-transform: none !important;
  }

}
