// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$sun: #f4bc40;
$slate: #2f2f2f;
$white: #fff;

$palette: (
  action: (
    0: $sun
  ),
  base: (
    0: $slate,
    1: lighter($slate, 50%),
    2: lighter($slate, 70%),
    3: lighter($slate, 90%)
  ),
  light: (
    0: $white
  )
);

// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$borderRadius: 3px;
$borderStyle: solid;
$borderWidth: 2px;
$border: $borderWidth $borderStyle palette('base', 2);
$boxShadow: 0 2px 0 rgba(palette('base'), 0.25);

// ----- Breakpoints ----- //

$bp-s: 480px;
$bp-m: 800px;
$bp-l: 1024px;

// ----- Sizing ----- //

$maxWidth: 1024px;
$space: 20px;
$space-025: $space * 0.25;
$space-05: $space * 0.5;
$space-2: $space * 2;
$space-4: $space * 4;

// -------------------------------------
//   Typography
// -------------------------------------

// ----- Family ----- //

$fontFamily: sans-serif;
$fontFamily-heading: sans-serif;

// ----- Line Height ----- //

$lineHeight: 1.5;

// ----- Size ----- //

$fontSize: 16px;
$fontSize-xs: 12px;
$fontSize-s: 14px;
$fontSize-l: 18px;
$fontSize-xl: 24px;

// -------------------------------------
//   Tools
// -------------------------------------

// ----- Background ----- //

$tools-background-color: true;

// ----- Border ----- //

$tools-border-radius: true;

// ----- Color ----- //

$tools-color: true;

// ----- Display ----- //

$tools-display: true;

// ----- Float ----- //

$tools-float: true;

// ----- Font ----- //

$tools-font-family: true;
$tools-font-size: true;
$tools-font-style: true;
$tools-font-weight: true;

// ----- Margin ----- //

$tools-margin-all: true;
$tools-margin-bottom: true;
$tools-margin-horizontal: true;
$tools-margin-left: true;
$tools-margin-right: true;
$tools-margin-top: true;

// ----- Padding ----- //

$tools-padding-all: true;
$tools-padding-bottom: true;
$tools-padding-left: true;
$tools-padding-right: true;
$tools-padding-top: true;
$tools-position: true;

// ----- Text ----- //

$tools-text-align: true;
$tools-text-transform: true;
