// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

// Gray

$porcelain: #ecf0f1;
$slate: #444;

// Purple

$plum: #4e4e5b;
$plum-t1: tint($plum, 40%);

// White

$white: #fff;

// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$borderRadius: 3px;
$borderStyle: solid;
$borderWidth: 2px;
$border: $borderWidth $borderStyle $plum-t1;
$boxShadow: 0 2px 0 rgba($slate, 0.25);

// ----- Breakpoints ----- //

$s: 480px;
$m: 800px;
$l: 1024px;

$breakpoints: (s: $s, m: $m, l: $l);

// ----- Sizing ----- //

$maxWidth: 1024px;
$space: 20px;
$space-025: $space * 0.25;
$space-05: $space * 0.5;
$space-2: $space * 2;
$space-4: $space * 4;

// -------------------------------------
//   Typography
// -------------------------------------

// ----- Family ----- //

$fontFamily: sans-serif;

// Headings

$heading-fontFamily: sans-serif;

// ----- Line Height ----- //

$lineHeight: 1.5;

// ----- Size ----- //

$fontSize: 16px;
$fontSize-xs: 12px;
$fontSize-s: 14px;
$fontSize-l: 18px;
$fontSize-xl: 24px;

// Headings

$heading-fontSize-h1: 32px;
$heading-fontSize-h2: 24px;
$heading-fontSize-h3: 20px;
$heading-fontSize-h4: 18px;
