// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

html {
  background-color: $porcelain;
  color: $slate;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

body {
  font-size: 100%;
}

// -------------------------------------
//   Block Content
// -------------------------------------

ul, p {
  margin-bottom: $space;
  margin-top: 0;
}

li {
  margin-bottom: $space-05;
  margin-top: 0;
}

// ----- Headings ----- //

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $heading-fontFamily;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: $space-025;
  margin-top: 0;
}

h1, .h1 {
  font-size: $heading-fontSize-h1;
}

h2, .h2 {
  font-size: $heading-fontSize-h2;
}

h3, .h3 {
  font-size: $heading-fontSize-h3;
}

h4, .h4 {
  font-size: $heading-fontSize-h4;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Links ----- //

a {
  border-bottom: $border;
  color: $plum;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom-color: $plum;
    color: $plum-t1;
  }
}

// ----- Images ----- //

img {
  height: auto;
  max-width: 100%;
}
