// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

html {
  background-color: palette('light');
  color: palette('base');
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

body {
  font-size: 100%;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Images ----- //

img {
  height: auto;
  max-width: 100%;
}
