// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Rounding
// -------------------------------------

.sb-ra {
  border-radius: 50%;
}

.sb-ram {
  border-radius: $borderRadius;
}

.sb-ran {
  border-radius: 0;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.sb-tac {
  text-align: center;
}

// ----- Color ----- //

.sb-tc-plum {
  color: $plum;
}

.sb-tc-plum-t1 {
  color: $plum-t1;
}

.sb-tc-slate {
  color: $slate;
}

.sb-tc-white {
  color: $white;
}

// ----- Family ----- //

.sb-tfb {
  font-family: $fontFamily;
}

.sb-tfh {
  font-family: $heading-fontFamily;
}

// ----- Size ----- //

.sb-tsxs {
  font-size: $fontSize-xs;
}

.sb-tss {
  font-size: $fontSize-s;
}

.sb-tsl {
  font-size: $fontSize-l;
}

.sb-tsxl {
  font-size: $fontSize-xl;
}

// ----- Style ----- //

.sb-tsi {
  font-style: italic;
}

// ----- Transform ----- //

.sb-ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.sb-tw-4 {
  font-weight: 400;
}

.sb-tw-7 {
  font-weight: 700;
}
