// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Background
// -------------------------------------

.sb-bc-plum {
  background-color: $plum;
}

.sb-bc-plum-t1 {
  background-color: $plum-t1;
}

.sb-bc-porcelain {
  background-color: $porcelain;
}

.sb-bc-slate {
  background-color: $slate;
}

.sb-bc-white {
  background-color: $white;
}

// -------------------------------------
//   Display
// -------------------------------------

.sb-db {
  display: block;
}

.sb-di {
  display: inline;
}

.sb-dib {
  display: inline-block;
}

.sb-dn {
  display: none;
}

// -------------------------------------
//   Margin
// -------------------------------------

// ----- All ----- //

.sb-ma0 {
  margin: 0;
}

.sb-ma025 {
  margin: $b-space-025;
}

.sb-ma05 {
  margin: $b-space-05;
}

.sb-ma1 {
  margin: $b-space;
}

.sb-ma2 {
  margin: $b-space-2;
}

.sb-ma4 {
  margin: $b-space-4;
}

// ----- Bottom ----- //

.sb-mb0 {
  margin-bottom: 0;
}

.sb-mb025 {
  margin-bottom: $b-space-025;
}

.sb-mb05 {
  margin-bottom: $b-space-05;
}

.sb-mb1 {
  margin-bottom: $b-space;
}

.sb-mb2 {
  margin-bottom: $b-space-2;
}

.sb-mb4 {
  margin-bottom: $b-space-4;
}

// ----- Horizontal ----- //

.sb-mhc {
  margin-left: auto;
  margin-right: auto;
}

// ----- Left ----- //

.sb-ml0 {
  margin-left: 0;
}

.sb-ml025 {
  margin-left: $b-space-025;
}

.sb-ml05 {
  margin-left: $b-space-05;
}

.sb-ml1 {
  margin-left: $b-space;
}

.sb-ml2 {
  margin-left: $b-space-2;
}

.sb-ml4 {
  margin-left: $b-space-4;
}

// ----- Right ----- //

.sb-mr0 {
  margin-right: 0;
}

.sb-mr025 {
  margin-right: $b-space-025;
}

.sb-mr05 {
  margin-right: $b-space-05;
}

.sb-mr1 {
  margin-right: $b-space;
}

.sb-mr2 {
  margin-right: $b-space-2;
}

.sb-mr4 {
  margin-right: $b-space-4;
}

// ----- Top ----- //

.sb-mt0 {
  margin-top: 0;
}

.sb-mt025 {
  margin-top: $b-space-025;
}

.sb-mt05 {
  margin-top: $b-space-05;
}

.sb-mt1 {
  margin-top: $b-space;
}

.sb-mt2 {
  margin-top: $b-space-2;
}

.sb-mt4 {
  margin-top: $b-space-4;
}

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //

.sb-pa0 {
  padding: 0;
}

.sb-pa025 {
  padding: $b-space-025;
}

.sb-pa05 {
  padding: $b-space-05;
}

.sb-pa1 {
  padding: $b-space;
}

.sb-pa2 {
  padding: $b-space-2;
}

.sb-pa4 {
  padding: $b-space-4;
}

// ----- Bottom ----- //

.sb-pb0 {
  padding-bottom: 0;
}

.sb-pb025 {
  padding-bottom: $b-space-025;
}

.sb-pb05 {
  padding-bottom: $b-space-05;
}

.sb-pb1 {
  padding-bottom: $b-space;
}

.sb-pb2 {
  padding-bottom: $b-space-2;
}

.sb-pb4 {
  padding-bottom: $b-space-4;
}

// ----- Left ----- //

.sb-pl0 {
  padding-left: 0;
}

.sb-pl025 {
  padding-left: $b-space-025;
}

.sb-pl05 {
  padding-left: $b-space-05;
}

.sb-pl1 {
  padding-left: $b-space;
}

.sb-pl2 {
  padding-left: $b-space-2;
}

.sb-pl4 {
  padding-left: $b-space-4;
}

// ----- Right ----- //

.sb-pr0 {
  padding-right: 0;
}

.sb-pr025 {
  padding-right: $b-space-025;
}

.sb-pr05 {
  padding-right: $b-space-05;
}

.sb-pr1 {
  padding-right: $b-space;
}

.sb-pr2 {
  padding-right: $b-space-2;
}

.sb-pr4 {
  padding-right: $b-space-4;
}

// ----- Top ----- //

.sb-pt0 {
  padding-top: 0;
}

.sb-pt025 {
  padding-top: $b-space-025;
}

.sb-pt05 {
  padding-top: $b-space-05;
}

.sb-pt1 {
  padding-top: $b-space;
}

.sb-pt2 {
  padding-top: $b-space-2;
}

.sb-pt4 {
  padding-top: $b-space-4;
}

// -------------------------------------
//   Positioning
// -------------------------------------

.sb-fl {
  float: left;
}

.sb-fr {
  float: right;
}

.sb-poa {
  position: absolute;
}

.sb-pof {
  position: fixed;
}

.sb-por {
  position: relative;
}

.sb-pos {
  position: static;
}

// -------------------------------------
//   Rounding
// -------------------------------------

.sb-ra {
  border-radius: 50%;
}

.sb-ram {
  border-radius: $b-borderRadius;
}

.sb-ran {
  border-radius: 0;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.sb-tac {
  text-align: center;
}

// ----- Color ----- //

.sb-tc-plum {
  color: $plum;
}

.sb-tc-plum-t1 {
  color: $plum-t1;
}

.sb-tc-slate {
  color: $slate;
}

.sb-tc-white {
  color: $white;
}

// ----- Family ----- //

.sb-tfb {
  font-family: $t-fontFamily;
}

.sb-tfh {
  font-family: $t-heading-fontFamily;
}

// ----- Size ----- //

.sb-tsxs {
  font-size: $t-fontSize-xs;
}

.sb-tss {
  font-size: $t-fontSize-s;
}

.sb-tsl {
  font-size: $t-fontSize-l;
}

.sb-tsxl {
  font-size: $t-fontSize-xl;
}

// ----- Style ----- //

.sb-tsi {
  font-style: italic;
}

// ----- Transform ----- //

.sb-ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.sb-tw4 {
  font-weight: 400;
}

.sb-tw7 {
  font-weight: 700;
}
