// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Display
// -------------------------------------

.sb-db {
  display: block;
}

.sb-di {
  display: inline;
}

.sb-df {
  display: flex;
}

.sb-dib {
  display: inline-block;
}

.sb-dif {
  display: inline-flex;
}

.sb-dn {
  display: none;
}

// -------------------------------------
//   Margin
// -------------------------------------

// ----- All ----- //

.sb-ma-0 {
  margin: 0;
}

.sb-ma-025 {
  margin: $space-025;
}

.sb-ma-05 {
  margin: $space-05;
}

.sb-ma-1 {
  margin: $space;
}

.sb-ma-2 {
  margin: $space-2;
}

.sb-ma-4 {
  margin: $space-4;
}

// ----- Bottom ----- //

.sb-mb-0 {
  margin-bottom: 0;
}

.sb-mb-025 {
  margin-bottom: $space-025;
}

.sb-mb-05 {
  margin-bottom: $space-05;
}

.sb-mb-1 {
  margin-bottom: $space;
}

.sb-mb-2 {
  margin-bottom: $space-2;
}

.sb-mb-4 {
  margin-bottom: $space-4;
}

// ----- Horizontal ----- //

.sb-mhc {
  margin-left: auto;
  margin-right: auto;
}

// ----- Left ----- //

.sb-ml-0 {
  margin-left: 0;
}

.sb-ml-025 {
  margin-left: $space-025;
}

.sb-ml-05 {
  margin-left: $space-05;
}

.sb-ml-1 {
  margin-left: $space;
}

.sb-ml-2 {
  margin-left: $space-2;
}

.sb-ml-4 {
  margin-left: $space-4;
}

// ----- Right ----- //

.sb-mr-0 {
  margin-right: 0;
}

.sb-mr-025 {
  margin-right: $space-025;
}

.sb-mr-05 {
  margin-right: $space-05;
}

.sb-mr-1 {
  margin-right: $space;
}

.sb-mr-2 {
  margin-right: $space-2;
}

.sb-mr-4 {
  margin-right: $space-4;
}

// ----- Top ----- //

.sb-mt-0 {
  margin-top: 0;
}

.sb-mt-025 {
  margin-top: $space-025;
}

.sb-mt-05 {
  margin-top: $space-05;
}

.sb-mt-1 {
  margin-top: $space;
}

.sb-mt-2 {
  margin-top: $space-2;
}

.sb-mt-4 {
  margin-top: $space-4;
}

// -------------------------------------
//   Padding
// -------------------------------------

// ----- All ----- //

.sb-pa-0 {
  padding: 0;
}

.sb-pa-025 {
  padding: $space-025;
}

.sb-pa-05 {
  padding: $space-05;
}

.sb-pa-1 {
  padding: $space;
}

.sb-pa-2 {
  padding: $space-2;
}

.sb-pa-4 {
  padding: $space-4;
}

// ----- Bottom ----- //

.sb-pb-0 {
  padding-bottom: 0;
}

.sb-pb-025 {
  padding-bottom: $space-025;
}

.sb-pb-05 {
  padding-bottom: $space-05;
}

.sb-pb-1 {
  padding-bottom: $space;
}

.sb-pb-2 {
  padding-bottom: $space-2;
}

.sb-pb-4 {
  padding-bottom: $space-4;
}

// ----- Left ----- //

.sb-pl-0 {
  padding-left: 0;
}

.sb-pl-025 {
  padding-left: $space-025;
}

.sb-pl-05 {
  padding-left: $space-05;
}

.sb-pl-1 {
  padding-left: $space;
}

.sb-pl-2 {
  padding-left: $space-2;
}

.sb-pl-4 {
  padding-left: $space-4;
}

// ----- Right ----- //

.sb-pr-0 {
  padding-right: 0;
}

.sb-pr-025 {
  padding-right: $space-025;
}

.sb-pr-05 {
  padding-right: $space-05;
}

.sb-pr-1 {
  padding-right: $space;
}

.sb-pr-2 {
  padding-right: $space-2;
}

.sb-pr-4 {
  padding-right: $space-4;
}

// ----- Top ----- //

.sb-pt-0 {
  padding-top: 0;
}

.sb-pt-025 {
  padding-top: $space-025;
}

.sb-pt-05 {
  padding-top: $space-05;
}

.sb-pt-1 {
  padding-top: $space;
}

.sb-pt-2 {
  padding-top: $space-2;
}

.sb-pt-4 {
  padding-top: $space-4;
}

// -------------------------------------
//   Positioning
// -------------------------------------

.sb-fl {
  float: left;
}

.sb-fr {
  float: right;
}

.sb-poa {
  position: absolute;
}

.sb-pof {
  position: fixed;
}

.sb-por {
  position: relative;
}

.sb-pos {
  position: static;
}

// -------------------------------------
//   Rounding
// -------------------------------------

.sb-ra {
  border-radius: 50%;
}

.sb-ram {
  border-radius: $borderRadius;
}

.sb-ran {
  border-radius: 0;
}

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.sb-tac {
  text-align: center;
}

// ----- Color ----- //

.sb-tc-plum {
  color: $plum;
}

.sb-tc-plum-t1 {
  color: $plum-t1;
}

.sb-tc-slate {
  color: $slate;
}

.sb-tc-white {
  color: $white;
}

// ----- Family ----- //

.sb-tfb {
  font-family: $fontFamily;
}

.sb-tfh {
  font-family: $heading-fontFamily;
}

// ----- Size ----- //

.sb-tsxs {
  font-size: $fontSize-xs;
}

.sb-tss {
  font-size: $fontSize-s;
}

.sb-tsl {
  font-size: $fontSize-l;
}

.sb-tsxl {
  font-size: $fontSize-xl;
}

// ----- Style ----- //

.sb-tsi {
  font-style: italic;
}

// ----- Transform ----- //

.sb-ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.sb-tw-4 {
  font-weight: 400;
}

.sb-tw-7 {
  font-weight: 700;
}
