// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Text
// -------------------------------------

// ----- Alignment ----- //

.sb-tac {
  text-align: center;
}

// ----- Color ----- //

.sb-tc-plum {
  color: $plum;
}

.sb-tc-plum-t1 {
  color: $plum-t1;
}

.sb-tc-slate {
  color: $slate;
}

.sb-tc-white {
  color: $white;
}

// ----- Transform ----- //

.sb-ttu {
  text-transform: uppercase;
}

// ----- Weight ----- //

.sb-tw-4 {
  font-weight: 400;
}

.sb-tw-7 {
  font-weight: 700;
}
