// *************************************
//
//   Grid
//   -> Section layout
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .sb-g
//
//   .sb-g-b[1of12|...]
//     / ...
//
//   .sb-g-b[1of12|...]
//     / ...
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// Breakpoints

$g-s: 480px;
$g-m: 800px;
$g-l: 1024px;

// Settings

$g-columns: 12;
$g-defaults: (s: $g-s, m: $g-m, l: $g-l);
$g-gutter: $b-space;

// -------------------------------------
//   Base
// -------------------------------------

.sb-g {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$g-gutter;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Grid ----- //

.sb-g--center {
  justify-content: center;
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Box ----- //

.sb-g-b {
  padding-left: $g-gutter;
  width: 100%;
}

// -------------------------------------
//   Setup
// -------------------------------------

@mixin g-device-type($namespace: '') {
  @each $item in $g-columns {
    @for $index from 1 through $item {
      .sb-g-b--#{$index}of#{$item}#{$namespace} {
        width: percentage($index / $item);
      }
    }
  }
}

// -------------------------------------
//   Creation
// -------------------------------------

@include g-device-type;

@if $g-defaults {
  @each $breakpoint, $width in $g-defaults {
    @media screen and (min-width: $width) {
      @include g-device-type('_#{$breakpoint}');
    }
  }
}
