// *************************************
//
//   Grid
//   -> Section layout
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .sb-grid[hc|vc]
//
//   .sb-grid-box[1of12|...]
//     / ...
//
//   .sb-grid-box[1of12|...]
//     / ...
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// Breakpoints

$grid-s: $bp-s;
$grid-m: $bp-m;
$grid-l: $bp-l;

// Settings

$grid-columns: 12;
$grid-defaults: (s: $bp-s, m: $bp-m, l: $bp-l);
$grid-gutter: $space;

// -------------------------------------
//   Base
// -------------------------------------

.sb-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Horizontally Center ----- //

.sb-grid--hc {
  justify-content: center;
}

// ----- Vertically Center ----- //

.sb-grid--vc {
  align-item: center;
}

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Box ----- //

.sb-grid-box {
  box-sizing: border-box;
  padding-left: $grid-gutter;
  width: 100%;
}

// -------------------------------------
//   Setup
// -------------------------------------

@mixin g-device-type($namespace: '') {
  @each $item in $grid-columns {
    @for $index from 1 through $item {
      .sb-grid-box--#{$index}of#{$item}#{$namespace} {
        width: percentage($index / $item);
      }
    }
  }
}

// -------------------------------------
//   Creation
// -------------------------------------

@include g-device-type;

@if $grid-defaults {
  @each $breakpoint, $width in $grid-defaults {
    @media screen and (min-width: $width) {
      @include g-device-type('_#{$breakpoint}');
    }
  }
}
