// *************************************
//
//   Link
//   -> Actionable text
//
// .sb-link[inverted|subdued|underlined]
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$link-color: palette('action');
$link-color-hover: palette('base');
$link-color-inverted: palette('light');
$link-color-inverted-hover: rgba(palette('light'), 0.75);
$link-color-subdued: palette('base', '1');
$link-color-subdued-hover: palette('base');

// -------------------------------------
//   Base
// -------------------------------------

.sb-link {
  color: $link-color;
  text-decoration: none;

  @include state {
    color: $link-color-hover;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Colors ----- //

// Inverted

.sb-link--inverted {
  color: $link-color-inverted;

  @include state {
    color: $link-color-inverted-hover;
  }
}

// Subdued

.sb-link--subdued {
  color: $link-color-subdued;

  @include state {
    color: $link-color-subdued-hover;
  }
}

// ----- Underlined ----- //

.sb-link--underlined {
  text-decoration: underline;
}
