// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .sb-well[2]
//   / ...
//
// *************************************

.sb-well {
  margin-bottom: $space;
  margin-top: $space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

// Large

.sb-well--2 {
  margin-bottom: $space-2;
  margin-top: $space-2;
}
